.header {
  padding-bottom: 40px;
}

.pagination {
  justify-content: center;
}

.innerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #00983a;
  color: white;
  margin-top: 40px;
  border-radius: 5px;
}