@import "StyleBase";

.header {
  padding-bottom: 40px;
}

.collapse {
  margin-top: 10px;
}

.pagination {
  justify-content: center;
}

#hint-button {
  float: right;
}

.answer-container .card {
  border-radius: 9pt;
}

.answer-container .text-input .container-fluid .python-editor-container {
  outline: solid 1px #d9d9d9;
}

.answer-container .show-advice-button {
  @include button-color-radius($color:black, $border-color: #8ad5d8, $border-width:2px);
  @include font-Quicksand($size: 17px);
}

.answer-container .show-advice-button:hover {
  @include button-color-radius($color:white, $border-color: #8ad5d8, $border-width:2px);
  background-color: #8ad5d8;
}

.answer-container .course-name {
  @include font-Quicksand($size: 20px, $weight: bold );
  color: #707070;
  padding-top: 10px;
}

.answer-container .card-header {
  background-color: #E2F5F5;
  border-top-left-radius: 9pt;
  border-top-right-radius: 9pt;
}

.answer-container .card-header .question-create-date {
  color: #707070;
  @include font-Nunito($size: 14px, $weight: light)
}

.answer-container .card-header .question-source {
  @include font-Nunito($size: 14px);
  font-style: italic;
}

.answer-container .markdown-preview {
  @include font-Nunito($size: 25px, $weight: bold);
  padding: 10px 10px 20px 10px
}

.answer-container .question-advice-shown {
  @include font-Nunito($size: 17px);
  padding: 30px 10px 10px 10px
}