/* dev: className of the table wrapper in List.js, follows syntax - ((props.title).toLowerCase()).replace(/\s/g, "-") */
@import "StyleBase.scss";


.home-page-table .default-table-replies .listTitle {
  border-color: #F40883;
  color: #F40883;
}

.home-page-table .default-table-replies .list-body > tr > td > .table-dot {
  @include table-dot-margin-color($color: #F40883)
}

.home-page-table .default-table-my-answers .listTitle {
  border-color: #EBD000;
  color: #EBD000;
}

.home-page-table .default-table-my-answers .list-body > tr > td > .table-dot {
  @include table-dot-margin-color($color: #EBD000)
}

.home-page-table .default-table-new-questions-in-courses-enrolled .listTitle {
  border-color: #00983A;
  color: #00983A;
}

.home-page-table .default-table-new-questions-in-courses-enrolled .list-body > tr > td > .table-dot {
  @include table-dot-margin-color($color: #00983A)
}

.home-page-table .default-table-my-questions .listTitle {
  border-color: #4D86C1;
  color: #4D86C1;
}

.home-page-table .default-table-my-questions .list-body > tr > td > .table-dot {
  @include table-dot-margin-color($color:#4D86C1)
}