@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand&display=swap');
@import "./StyleBase";

.simulation-result-container {
  border-width: 3pt;
}

.simulation-result-container .simulation-result-title-text {
  padding:0;
  @include font-Nunito($weight:bold, $size: 41px);
}


.simulation-result-container .simulation-title {
  color: #E08330;
  font-style: italic;
  @include font-Nunito($weight:bold, $size: 41px);
  display: flex;
}

.simulation-result-score {
  padding: 0;
  display: flex;
}

.simulation-result-container .simulation-result-score .simulation-result-max-score {
  @include font-Nunito($weight:bold, $size: 50px);
}

.simulation-result-container .simulation-result-score .simulation-result-user-score {
  @include font-Nunito($weight:bold, $size:50px);
  color: #00DE09;
}

.simulation-result-container .simulation-result-start-button .start-button {
  left: 25vw;
  text-align: center;
  position: relative;
  padding: 1pt;
}
.simulation-result-container .simulation-result-start-button .btn-primary{
  @include button-dimensions($h:55px);
  @include button-color-radius($border-color:#E28111, $border-width:2px );
  @include font-Quicksand($size: 17px);
}

.simulation-result-container .simulation-result-start-button .btn-primary:hover{
  @include button-color-radius($border-color:#E28111, $background-color: #E28111, $color: white);
}


.simulation-result-container table{
  color:#797979;
  border-radius: 16pt;
  background-color: rgba(121, 121, 121, 0.05);
}

.simulation-result-container table > thead {
  vertical-align: middle;
  @include header-component()
}



