@import "./StyleBase";

.bottom-group {
  text-align: center;
}
.simulation-card {
  padding: 20px;
  border-radius: 20px;
}

.simulation-card .start-simulation-button {
  @include font-Quicksand($size: 17px);
  width: 139pt;
  height: 40px;
  @include button-color-radius($border-color: #ea9b57);
}
.simulation-card .start-simulation-button:hover {
  @include button-color-radius(
          $border-color: #ea9b57,
          $background-color: #ea9b57,
          $color: white
  );
}

.simulation-card .form-check-input:checked {
  background-color: #ea9b57 !important;
}