@import "StyleBase.scss";

.breadcrumb{
  margin: 10px;
  @include font-Nunito($size:14px);
}

.breadcrumb .breadcrumb-item a{
  text-decoration: none;
  color: #797979;

}

.breadcrumb .breadcrumb-item a:hover {
  color: black;
}

.breadcrumb > li + li:before {
  content: " > " !important;
}