@import "StyleBase.scss";

 div.discussion-component > div.collapse.collapse.show.row > div:nth-child(2) > div {
  margin-top: 20px;
}

.discussion-component .w-100 {
  @include button-color-radius($border-radius: 9px);
  @include font-Quicksand($size: 20px);
  border-color: #8ad5d8;
}

.discussion-component .w-100:hover {
  color: white;
  background-color: #8ad5d8;
}
