@import "StyleBase";

.tags {
  font-size: 0.8em;
  padding-right: 5px;
}

.suggestion-question {
  font-size: 15px;
  text-decoration: none;
}

.reply-link {
  float: right;
}

// course-page-default

.questionEntry {
  padding: 1.5rem;
  margin-bottom: 10px;
  border-radius: 16px;
  background-color: rgba(138, 213, 216, 0.25);
}

.question {
  font-size: 1.2em;
  text-decoration: none;
}

.questionEntry .question {
  @include font-Nunito($size: 20px);
  color: black;
}

.questionEntry .tags {
  @include font-Nunito($size: 14px, $weight: light);
  text-decoration: none;
  color: #0062ff;
}

.questionEntry .created-at {
  @include font-Nunito($weight: light, $size: 14px);
  color: #707070;
}

.questionEntry .created-from {
  @include font-Nunito($size: 14px);
  font-style: italic;
  color: #707070;
}

// bookmark-page
.bookmarkQuestionEntry {
  padding: 1.5rem;
  margin-bottom: 10px;
  border-radius: 16px;
  background-color: #ebace7;
}

.bookmarkQuestionEntry .question {
  @include font-Nunito($size: 20px);
  color: black;
}

.bookmarkQuestionEntry .tags {
  @include font-Nunito($size: 14px, $weight: light);
  text-decoration: none;
  color: #0062ff;
}

.bookmarkQuestionEntry .created-at {
  @include font-Nunito($weight: light, $size: 14px);
  color: white;
}

//.bookmarkQuestionEntry .created-from {
//  @include font-Nunito($size: 14px);
//  font-style: italic;
//  color: #707070;
//}

.bookmarkQuestionEntry .course-name {
  @include font-Nunito($size: 16px);
  font-style: italic;
  color: white;
  margin-left: 0;
}

.bookmarkQuestionEntry .content {
  @include font-Nunito($size: 18px, $weight: light);
}

// simulation-page
.accordion-item .accordion-header h6 {
  @include font-Nunito($size: 22px);
}

.accordion-item .accordion-body p {
  @include font-Nunito($size: 17px, $weight: light);
  color: #797979;
}

.accordion-item .accordion-body h5 {
  @include font-Nunito($size: 22px, $weight: bold);
}

.answerEntry .answerEntry-vote {
  display: flex;
  height: auto;
}

div.answerEntry-vote.col {
  margin-left: 80%;
  vertical-align: center;
  @include font-Quicksand($size: 20px, $weight: medium);
}

div.answerEntry-vote.col > a:nth-child(1) > img {
  margin: 0 30px 0 0;
}

div.answerEntry-vote.col > div {
  @include font-Quicksand($size: 20px, $weight: medium);
}

div.answerEntry-vote.col > a:nth-child(3) > img {
  margin: 0 0 0 30px;
}

.answerEntry {
  border: solid 1px #707070;
  border-radius: 9px;
  margin: 20px 0 20px 0;
}
.answerEntry .answerEntry-credential {
  background-color: #e2f5f5;
  justify-items: center;
  align-items: center;
  height: 3rem;
  margin: 0;
  padding: 5px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  @include font-Quicksand($size: 20px, $weight: medium);
}

.answerEntry .markdown-preview > p {
  font-size: 1.5rem;
  padding: 25px 15px 15px 15px;
  @include font-Nunito($size: 20px);
}

.answerEntry .answerEntry-vote {
  padding: 10px;
  justify-items: center;
  align-items: center;
}

.answerEntry .reply-link {
  margin: 0 15px 0 0px;
  @include button-color-radius($border-color: #8ad5d8, $border-width: 2px);
}
.answerEntry .reply-link:hover {
  background-color: #8ad5d8;
  color: white;
}

.answerEntry .answerEntry-credential .header-svg span {
  background-color: #e2f5f5;
  border-color: #e2f5f5;
}
