@import "StyleBase";

.questionEntry {
  padding: 1.5rem;
  margin-bottom: 10px;
  border-radius: 16px;
  background-color: rgba(138, 213, 216, 0.25);
}

.answerEntry {
  width: 0;
}

.question {
  font-size: 1.2em;
  text-decoration: none;
}

.tags {
  font-size: 0.8em;
  padding-right: 5px;
}

.suggestion-question {
  font-size: 15px;
  text-decoration: none;
}

.reply-link {
  float: right;
}

.questionEntry .question {
  @include font-Nunito($size: 20px);
  color: black;
}

.questionEntry .tags {
  @include font-Nunito($size: 14px, $weight: light);
  text-decoration: none;
}

.questionEntry .created-at {
  @include font-Nunito($weight: light, $size: 14px);
  color: #707070;
}

.questionEntry .created-from {
  @include font-Nunito($size: 14px);
  font-style: italic;
  color: #707070;
}
.accordion-item .accordion-header h6 {
  @include font-Nunito( $size: 22px);
}

.accordion-item .accordion-body p{
  @include font-Nunito( $size: 17px, $weight:light);
  color: #797979;
}

.accordion-item .accordion-body h5 {
  @include font-Nunito( $size: 22px, $weight:bold);
}