@import "StyleBase.scss";

#root > div > div:nth-child(5) > div > div > div.header.row.row-cols-lg-12 > div > div {
  border-radius:9px
}

#root > div > div:nth-child(5) > div > div > div.header.row.row-cols-lg-12 > div > div .card-header {
  color: #707070;
  background-color: #E2F5F5;

}
#root > div > div:nth-child(5) > div > div > div.header.row.row-cols-lg-12 > div > div > div.card-header > div > div:nth-child(1) {
  @include font-Quicksand($size: 20px, $weight: bold);
}

#root > div > div:nth-child(5) > div > div > div.header.row.row-cols-lg-12 > div > div > div.card-header > div > div:nth-child(2) > small.question-source{
  @include font-Nunito($size: 14px, $weight:bold);
  font-style: italic;
}
#root > div > div:nth-child(5) > div > div > div.header.row.row-cols-lg-12 > div > div > div.card-header > div > div:nth-child(2) > small.question-create-date{
  @include font-Nunito($size: 14px, $weight:light);
}

#root > div > div:nth-child(5) > div > div > div.header.row.row-cols-lg-12 > div > div > div.card-body > div {
  @include font-Nunito($size: 25px, $weight:bold);
}

#root > div > div:nth-child(5) > div > div > div.header.row.row-cols-lg-12 > div > div > div.card-body > p {
  @include font-Nunito($size: 25px, $weight:bold);
  color: #797979;
}

#root > div > div:nth-child(5) > div > div > div.header.row.row-cols-lg-12 > div > div > div.card-body > button {
  @include button-color-radius($border-color: #8AD5D8);
  @include font-Quicksand($size: 17px)
}
#root > div > div:nth-child(5) > div > div > div.header.row.row-cols-lg-12 > div > div > div.card-body > button:hover {
  background-color: #8AD5D8;
  color: white;
}