@import "./StyleBase";

.clearButton:active {
  background-color: #fff !important;
}

.clearButton:hover {
  background-color: #fff;
}

.clearButton:focus {
  background-color: #fff !important;
}

.textInput:focus {
  box-shadow: 0 0;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 58px;
}

.input-group .async-type-head {
  border-radius: 9pt;
}

.async-type-head > div input {
  @include font-Quicksand($size: 22px);
  color: #707070;
  border-radius: 9pt;
  border-color: #707070;
}

//.input-group button {
//  border-radius:9pt;
//  border-left: none;
//  border-color: #707070;
//}
