#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logoSkeeelled {
    height:40px;
    margin-bottom:6px;
}

#logoWeeeOpen {
    height:20px;
    margin-left:8px;
    margin-top:4px;
}

#logoSkeeell {
    height:42px;
    vertical-align:-9.5pt;
    margin-left:-7px;
}

 #weee-open-logo {
     height: 20px;
     vertical-align: -5pt;
     padding-left: 10pt;
}

#skeeelled {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

 #skeeell {
     display: flex;
     flex-direction: row;
     align-items: flex-end;
 }

 #skeeell-logo {
     height: 50px;
     margin-left: -10pt;
}