/*<<<<<<< HEAD*/
#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*color: ;*/
}

 #weee-open-logo {
     height: 20px;
     vertical-align: -5pt;
     padding-left: 10pt;
}

 /*skeeelled*/
#skeeelled {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

 /*skeeell*/
 #skeeell {
     display: flex;
     flex-direction: row;
     align-items: flex-end;
 }
 #skeeell-logo {
     height: 50px;
     margin-left: -10pt;


/*=======*/
/*.footer {*/
/*    text-align:center*/
/*}*/

/*.logoSkeeelled {*/
/*    height:35px*/
/*}*/

/*.logoWeeeOpen {*/
/*    height:20px;*/
/*    margin-left:10px*/
/*}*/

/*.logoSkeeell {*/
/*    height:90px;*/
/*    vertical-align:-26.5pt*/
/*>>>>>>> origin/frontend-donato*/
}