.list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.listTitle {
  padding: 12px;
  background-color: #00983a;
  color: white;
}

.listQuestionsTitle {
  margin-left: 20px;
  margin-bottom: 20px;
}

.listAnswers tr:nth-child(4n + 1) {
  background-color: #eee;
}

.roundedList {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

.roundedList th {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.roundedList td {
  padding: 0.5rem;
}

.roundedList tr:nth-child(odd) {
  background-color: #eee;
}

.roundedList tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.roundedList tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.listSuggestionTitle {
  padding: 5px;
}

.suggestion {
  padding: 5px;
}

.listSuggestion-questions {
  padding: 5px;
}

.btn-outline-success-simulation-result {
  height: 30px;
  min-width: 60px;
  font-size: 12px;
}